APP_NAME="AutoWash Pro"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Ho_Chi_Minh
APP_URL=http://localhost:8080
APP_LOG_FILE=storage/logs/app.log
SESSION_NAME=AUTOWASH_SESSION

DB_HOST=mysql
DB_PORT=3306
DB_NAME=autowash
DB_USER=autowash
DB_PASSWORD=autowash_local
DB_ROOT_PASSWORD=autowash_root_local
DB_CHARSET=utf8mb4
DB_TIMEZONE=+07:00

LOYALTY_POINT_UNIT_AMOUNT=10000
