/.env
/.env.*
!/.env.example
/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/coverage/

/.idea/
/.vscode/
*.swp
*.swo
.DS_Store

/storage/logs/*
!/storage/logs/.gitignore
/storage/uploads/*
!/storage/uploads/.gitignore
/storage/performance/*
!/storage/performance/.gitignore
